.background-color-eleve {
    background-color: #97252D;
}
.background-color-classe {
    background-color : #184012;
}

.background-color-professeur {
    background-color:#373737;
}
.background-color-emprunt {
    background-color:#B98200;
}
.text-color-items{
     color:white !important
}